<a href="https://colab.research.google.com/github/geonhui99/-/blob/main/db07_24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
-- (1) 자식 테이블부터 부모 테이블 순서대로 삭제
DROP TABLE IF EXISTS Services;
DROP TABLE IF EXISTS Reservations;
DROP TABLE IF EXISTS Pets;
DROP TABLE IF EXISTS Rooms;
DROP TABLE IF EXISTS PetOwners;

-- (2) DB 선택
USE pet_hotel_db;

-- (3) 테이블 다시 생성
CREATE TABLE PetOwners (
  ownerID INT PRIMARY KEY AUTO_INCREMENT,
  name VARCHAR(100) NOT NULL,
  contact VARCHAR(100)
);

CREATE TABLE Pets (
  petID INT PRIMARY KEY AUTO_INCREMENT,
  ownerID INT,
  name VARCHAR(100) NOT NULL,
  species VARCHAR(50),
  breed VARCHAR(50),
  FOREIGN KEY (ownerID) REFERENCES PetOwners(ownerID)
);

CREATE TABLE Rooms (
  roomID INT PRIMARY KEY AUTO_INCREMENT,
  roomNumber VARCHAR(20),
  roomType VARCHAR(50),
  pricePerNight DECIMAL(10, 2)
);

CREATE TABLE Reservations (
  reservationID INT PRIMARY KEY AUTO_INCREMENT,
  petID INT,
  roomID INT,
  startDate DATE,
  endDate DATE,
  FOREIGN KEY (petID) REFERENCES Pets(petID),
  FOREIGN KEY (roomID) REFERENCES Rooms(roomID)
);

CREATE TABLE Services (
  serviceID INT PRIMARY KEY AUTO_INCREMENT,
  reservationID INT,
  serviceName VARCHAR(100),
  servicePrice DECIMAL(10, 2),
  FOREIGN KEY (reservationID) REFERENCES Reservations(reservationID)
);
-- 고객 입력
INSERT INTO PetOwners (name, contact)
VALUES ('이건희', '010-1234-5678');

-- 반려동물 입력 (ownerID = 1)
INSERT INTO Pets (ownerID, name, species, breed)
VALUES (1, '복희', '강아지', '치와와');

-- 객실 입력
INSERT INTO Rooms (roomNumber, roomType, pricePerNight)
VALUES ('101', '스탠다드', 270000.00);

-- 예약 입력 (petID = 1, roomID = 1)
INSERT INTO Reservations (petID, roomID, startDate, endDate)
VALUES (1, 1, '2025-07-24', '2025-07-30');

-- 서비스 입력 (reservationID = 1)
INSERT INTO Services (reservationID, serviceName, servicePrice)
VALUES (1, '목욕', 20000.00);


SELECT * FROM PetOwners;
SELECT * FROM Pets;
SELECT * FROM Rooms;
SELECT * FROM Reservations;
SELECT * FROM Services;